<ion-header>
	<ion-navbar>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Cursussen</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>

	<ion-list>
		<ion-item *ngFor="let cursist of cursisten" (click)="loadCursist(cursist)">
			<ion-icon name="pricetags" item-left></ion-icon>
			<h2>{{cursist.fullname}}</h2>
			<h3>{{cursist.company_name}}</h3>
			<ion-badge item-right primary>{{cursist.id}}</ion-badge>
		</ion-item>
	</ion-list>
</ion-content>
