<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{'HOME' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>Welkom bij de Split-Online App</h2>
  <p>
    Hier kan je cursisten aan- en afmelden.
  </p>
  <ion-list>
    <ion-item *ngFor="let page of pages" (click)="openPage(page)">
      <ion-icon [name]="page.icon" item-left></ion-icon>
      {{page.title | translate}}
      <ion-note item-right>
      {{page.note}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
