<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title>{{'BARCODE_SCANNER' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button icon-right block outline (click)="scan()">
		Scan
		<ion-icon name="barcode"></ion-icon>
	</button>

	<ion-list-header>Barcode</ion-list-header>
	<ion-item>
		Tekst: {{ barcodeData }}
	</ion-item>
</ion-content>

<ion-content padding *ngIf="inschrijving">
	<ion-list-header>Inschrijving</ion-list-header>
	<ion-item>
	  Eerste scan: <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="inschrijving.incheck_tijd"></ion-datetime>
	</ion-item>
	<ion-item>
	  Laatste scan: <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="inschrijving.uitcheck_tijd"></ion-datetime>
	</ion-item>
	<ion-item>
		Inschrijving-inscheck: {{ inschrijving.incheck_tijd }}
	</ion-item>
</ion-content>