<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title>{{'ABOUT' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-card>
	  <ion-card-content>
	  	<h1>Split-Online App</h1>
	  	<p>De app voor de trainers van Split-Online.</p>
	  </ion-card-content>
	</ion-card>

	<ion-card>

	<ion-card-content>
	  	<h1>Nog meer info...</h1>
	  	<p>Wat zal ik zeggen..</p>
	  </ion-card-content>
	</ion-card>

</ion-content>
