<ion-header>
	<ion-navbar>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Cursussen</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let cursus of cursussen" (click)="loadCursus(cursus)">
			<ion-icon name="pricetags" item-left></ion-icon>
			<h2>{{cursus.title}}</h2>
			<ion-badge item-right primary>{{cursus.id}}</ion-badge>
		</ion-item>
	</ion-list>
</ion-content>
