<ion-header>
	<ion-navbar>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Cursussen</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="cursist">
  <ion-list *ngIf="cursist">
    <ion-card>
      <ion-item text-wrap>
          <h1>Welkom {{cursist.fullname}}</h1>
          <h2>van {{cursist.company_name}}</h2>
      </ion-item>
			<ion-item text-wrap>
				<p>
					Wij hebben uw aanwezigheid geregistreerd. Indien u punten voor MfN wenst, dan hebben wij uw Mediator code nodig. Indien deze niet hieronder staat, vul deze dan in.
				</p>
	    </ion-item>
	    <ion-item>
	    	<ion-label fixed>Mediator code</ion-label>
	    	<ion-input placeholder="Geen mediator code" [(ngModel)]="cursist.mediator_code"></ion-input>
			</ion-item>
	    <button ion-button color="primary" block (click)="updateMediatorCode()">Update Mediator Code</button>
			<ion-grid>
			  <ion-row>
			    <ion-col col-5 text-center>Aankomst</ion-col>
			    <ion-col col-2></ion-col>
			    <ion-col col-5 text-center>Vertrek</ion-col>			    
			  </ion-row>
			  <ion-row>
			    <ion-col col-5 text-center><ion-datetime displayFormat="HH:mm" [(ngModel)]="cursist.incheck_tijd"></ion-datetime></ion-col>
			    <ion-col col-2 text-center> - </ion-col>
			    <ion-col col-5 text-center><ion-datetime displayFormat="HH:mm" [(ngModel)]="cursist.uitcheck_tijd"></ion-datetime></ion-col>
			  </ion-row>
			</ion-grid>
	    <button ion-button color="primary" block (click)="aanwezigheid_bijwerken(cursist)">Aanwezigheid bijwerken</button>
	    <br/>
	    <button ion-button color="primary" block (click)="nieuweScan()">Nieuwe scan</button>
    </ion-card>


</ion-list>